.skills {

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__list-container {
        flex-basis: 49%;
        padding: rem(30);
        margin-bottom: rem(30);

        box-shadow: 0 0 20px lighten(#000, .75);

        transition: box-shadow .5s;

        @include below($tablet) {
            padding: rem(15);
        }

        @include below($mobile) {
            flex-basis: 100%;
        }
    }

    &__subtitle {
        color: $color-hover;
        font-size: rem(21);
        text-transform: uppercase;

        transition: color .5s;
    }
}
